<h1>This is your messages</h1>
<div class="mb-3">
 
    <% @searching.where(tenant_id: params.dig(:search, :tenant_id)).each do |monitoring| %> 
    
        <div class=card>
            <div class="card-header">
              Created By <%= monitoring.tenant_id %>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><%= monitoring.title%><%= button_to('Details',show_monitorings_path,method: :get,params:{id: monitoring.id}, class:"btn btn-outline-danger")%></p>
                
                <footer class="blockquote-footer">Created at  <%= monitoring.created_t.to_time.strftime('%B %e at %l:%M %p') %><cite title="Source Title"></cite></footer>
              </blockquote>
            </div>
          
          
   </div>
    <% end %>

    <% @searching.where("created_at >= ? and created_at <=?", :search2.to_time,:search2.to_time).each do |monitoring| %> 
    
        <div class="card">
            <div class="card-header">
              Created By <%= monitoring.tenant_id %>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p><%= monitoring.title%><%= button_to('Details',show_monitorings_path,method: :get,params:{id: monitoring.id},class:"btn btn-outline-secondary") %></p>
                
                <footer class="blockquote-footer"><cite title="Source Title"></cite>Created at  <%= monitoring.created_t.to_time.strftime('%B %e at %l:%M %p') %></cite></footer>
              </blockquote>
            </div>
        </div>
          
   
    <% end %>
</div>



